*{
    margin: 0;
    padding: 0;
}

body{
  margin: auto;
  overflow-y: none;
  height: 105vh;

}
.sticky {
    position: fixed;
    top: 100;
    width: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  .container .btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: blue; */
    /* color: white; */
    font-size: 26px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

 
.cooldiv{
    border-radius: 20px;
    box-shadow: 1px 1px 15px 0px lightblue;
    width: 100%;
    
    /* border: 5px black; */

    margin: auto;
    background-color: white;
   
  }
  body h1{
      font-family: 'Noto Sans TC', sans-serif;
      font-size:70px;

}
.parallax {
  /* The image used */
  background-image: url("./media/3.png");
  opacity: 0.6;

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
p{
  font-size: 20px;
}
.center{
display: flex;
}
nav ul li{
  
  font-size: 20px;
  padding: 20px 0px;
  
}
#quotebutton{
  font-size: 35px; 
  position: relative; 
  top: 430px; 
  left: 70px; 
  border: 5px solid blue; 
  border-radius: 20px; 
  padding: 0px 10px;
  background-color: blue ;
  color: white;
}
#webset{
  display: flex;
  flex-direction: row;
  height: 1300px;
  justify-content: space-around;

}
.webelements img{
  border: 0px solid white;
  border-radius: 20px;
  height: 400px;
  width: 600px;
  /* box-shadow: 1px 1px 1px 1px lightgray; */
}
span{
  color: white;
}
#websetnew{
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: space-around;

}
#websetnew img{
  width: 400px;
  height: 300px;
}
.webelements{
    margin: auto;
    text-align: center;
}
#websetnew a{
  text-decoration: none;
  
}
#imgapp1a{
  display:block;
}
.imgapp1b{
  display: none;
}
.imgapp1a{
  display: block;
}
.bgset{
  height: 100vh;
  background-image: url('./media/appbgmob.png');
  background-repeat: no-repeat;
}
#appflex{
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
top: 50px;
}
.appcard{
  height: 282px;
  width:329px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;

}
.appflex{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#divset{
  height: 900vh;
}
#divsetdm{
  height: 755vh;
}
#whyus{
  background-image: url('./media/appbg.png');
  height: 70vh;
  position: relative;
  bottom: 100px;
  
}
#whyusdm{
  background-image: url('./media/appbg.png');
  height: 80vh;
  
  
}
.cooldiv{
  height: 800vh;
}.cooldivhome{
  height: 700vh;
}

#overflow{
  height:100vh;
}
#aosm{
  /* background-image: url(./media/digitalmarketingdata/dmbg.png); */
  width: 100vw;
  height: 100vh;
}
#aosm img{
  margin: auto;
}
#social{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#social img{
height: 300px;
width: 300px;
}
.bgsetapp{
  height: 100vh;
  background-image: url('./media/websiteimages/appb.png');
  background-repeat: no-repeat;
}
.bgsetdm{
  height: 100vh;
  background-image: url('./media/digitalmarketingdata/aviplbg.png');
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
#plans a{
text-decoration: none;

}