@media only screen and (max-width: 740px) {
      #contactbox{
          word-wrap: break-word; /* property which automatically adds newline when text overflows/*       
      }      
      .imgset{
          content: url('./media/1mob.png');
      }
      .imgset1{
          content: url('./media/2mob.png');
      }
}
